
  <body>
    <header class="sm:w-auto h-14 sm:h-18 shadow ">
      <div class="w-28 h-14 inline-block sm:w-42 sm:h-18">
        <img class=" mt-2" src="https://document-export.canva.com/6tlOU/DAEexY6tlOU/45/thumbnail/0001-1647771606.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAQYCGKMUHWDTJW6UD%2F20210520%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210520T085519Z&X-Amz-Expires=63521&X-Amz-Signature=012583f45ac4426dc9e7957d4d793d98ec05ff2c7b87c88f93da6a1f9f2a5b4c&X-Amz-SignedHeaders=host&response-expires=Fri%2C%2021%20May%202021%2002%3A34%3A00%20GMT" alt="">
      </div>

      <div class="inline-block space-y-2 float-right">
        <button class="mt-2 mr-2 bg-blue-700 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded sm:text-base">
        Soy empresa
      </button>
      </div>
    </header>
   <div class="mt-12">
     <div class="">
     <img class="mx-auto rounded-full h-56 w-56 sm:w-96 sm:h-96  lg:float-right "src="https://pbs.twimg.com/media/Es9-IUaXIAE9MBR?format=jpg&name=large" alt="">
     </div>
     <div class="mt-2">
       <h2 class="text-blue-700 text-6xl lg:text-8xl">Un trabajo</h2>
       <h2 class="text-black text-6xl lg:text-8xl">para tu talento</h2>
     </div>
     <div class="mt-12">
       <h3 class="text-black text-2xl lg:text-4xl">Encuentra tu proximo trabajo en Sureste</h3>
     </div>
     <div class="mt-4">
       <button class="bg-transparent hover:bg-blue-700 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded-full" type="button" name="button">Buscar</button>

     </div>
   </div>
  </body>
