<header class="bg-white sm:w-auto h-20 md:h-32 lg:h-16 shadow ">
  <div class="inline-block">
    <img class="w-32 h-16  mt-3 md:w-auto md:h-28 lg:w-32 lg:h-14 lg:mt-2" src="https://pbs.twimg.com/media/E14yQSfVoAYvuO7?format=png&name=small" alt="">
  </div>

  <div class="inline-block space-y-2 float-right">
    <button class="mt-5" type="button" name="button"> <a href="/index" class="italic text-base md:text-4xl lg:text-base mt-5 md:mt-9 lg:mt-6 mr-2 bg-white hover:bg-blue-700 text-white font-bold py-2 px-4 rounded ">
      Home
    </a></button>
  </div>
</header>
<body class="bg-gray-100">
  <div class="mt-16 mb-16 mr-16 ml-16 bg-white shadow overflow-hidden sm:rounded-md">
    <ul>
      <li>
        <%= render partial: 'vacante', collection: @vacantes %>
      </li>
    </ul>
  </div>
</body>
